Source: modest-nokiamessaging-plugin-l10n
Section: misc
Priority: optional
Maintainer: Ivan J. <parazyd@dyne.org>
Build-Depends: debhelper-compat (= 12), gettext
Standards-Version: 4.3.0

Package: modest-nokiamessaging-plugin-l10n-mr0
Section: misc
Architecture: all
Provides: modest-nokiamessaging-plugin-l10n-mr
Depends:
 modest-nokiamessaging-plugin-l10n-zhtw,
 modest-nokiamessaging-plugin-l10n-zhhk,
 modest-nokiamessaging-plugin-l10n-zhcn,
 modest-nokiamessaging-plugin-l10n-ukua,
 modest-nokiamessaging-plugin-l10n-trtr,
 modest-nokiamessaging-plugin-l10n-svse,
 modest-nokiamessaging-plugin-l10n-sksk,
 modest-nokiamessaging-plugin-l10n-ruru,
 modest-nokiamessaging-plugin-l10n-roro,
 modest-nokiamessaging-plugin-l10n-ptpt,
 modest-nokiamessaging-plugin-l10n-plpl,
 modest-nokiamessaging-plugin-l10n-pa,
 modest-nokiamessaging-plugin-l10n-nono,
 modest-nokiamessaging-plugin-l10n-nlnl,
 modest-nokiamessaging-plugin-l10n-mymm,
 modest-nokiamessaging-plugin-l10n-lvlv,
 modest-nokiamessaging-plugin-l10n-ko,
 modest-nokiamessaging-plugin-l10n-km,
 modest-nokiamessaging-plugin-l10n-itit,
 modest-nokiamessaging-plugin-l10n-huhu,
 modest-nokiamessaging-plugin-l10n-heil,
 modest-nokiamessaging-plugin-l10n-frfr,
 modest-nokiamessaging-plugin-l10n-frca,
 modest-nokiamessaging-plugin-l10n-fifi,
 modest-nokiamessaging-plugin-l10n-fa,
 modest-nokiamessaging-plugin-l10n-etee,
 modest-nokiamessaging-plugin-l10n-esmx,
 modest-nokiamessaging-plugin-l10n-eses,
 modest-nokiamessaging-plugin-l10n-enus,
 modest-nokiamessaging-plugin-l10n-engb,
 modest-nokiamessaging-plugin-l10n-elgr,
 modest-nokiamessaging-plugin-l10n-dede,
 modest-nokiamessaging-plugin-l10n-dadk,
 modest-nokiamessaging-plugin-l10n-cy,
 modest-nokiamessaging-plugin-l10n-cscz,
 modest-nokiamessaging-plugin-l10n-caes,
 modest-nokiamessaging-plugin-l10n-bgbg,
 modest-nokiamessaging-plugin-l10n-beby,
 modest-nokiamessaging-plugin-l10n-ar,
Description: modest-nokiamessaging-plugin-l10n marketing release package
 This is a metapackage for modest-nokiamessaging-plugin-l10n to pull all the l10n packages.
 Application developers of modest-nokiamessaging-plugin-l10n should depend on
 "modest-nokiamessaging-plugin-l10n-mr0 | modest-nokiamessaging-plugin-l10n-mr"
 to ensure correct locales are getting installed.

Package: modest-nokiamessaging-plugin-l10n-ar
Section: misc
Architecture: all
Description: language files for modest-nokiamessaging-plugin (ar)
 Language files for ar modest-nokiamessaging-plugin.

Package: modest-nokiamessaging-plugin-l10n-beby
Section: misc
Architecture: all
Description: language files for modest-nokiamessaging-plugin (be_BY)
 Language files for be_BY modest-nokiamessaging-plugin.

Package: modest-nokiamessaging-plugin-l10n-bgbg
Section: misc
Architecture: all
Description: language files for modest-nokiamessaging-plugin (bg_BG)
 Language files for bg_BG modest-nokiamessaging-plugin.

Package: modest-nokiamessaging-plugin-l10n-caes
Section: misc
Architecture: all
Description: language files for modest-nokiamessaging-plugin (ca_ES)
 Language files for ca_ES modest-nokiamessaging-plugin.

Package: modest-nokiamessaging-plugin-l10n-cscz
Section: misc
Architecture: all
Description: language files for modest-nokiamessaging-plugin (cs_CZ)
 Language files for cs_CZ modest-nokiamessaging-plugin.

Package: modest-nokiamessaging-plugin-l10n-cy
Section: misc
Architecture: all
Description: language files for modest-nokiamessaging-plugin (cy)
 Language files for cy modest-nokiamessaging-plugin.

Package: modest-nokiamessaging-plugin-l10n-dadk
Section: misc
Architecture: all
Description: language files for modest-nokiamessaging-plugin (da_DK)
 Language files for da_DK modest-nokiamessaging-plugin.

Package: modest-nokiamessaging-plugin-l10n-dede
Section: misc
Architecture: all
Description: language files for modest-nokiamessaging-plugin (de_DE)
 Language files for de_DE modest-nokiamessaging-plugin.

Package: modest-nokiamessaging-plugin-l10n-elgr
Section: misc
Architecture: all
Description: language files for modest-nokiamessaging-plugin (el_GR)
 Language files for el_GR modest-nokiamessaging-plugin.

Package: modest-nokiamessaging-plugin-l10n-engb
Section: misc
Architecture: all
Description: language files for modest-nokiamessaging-plugin (en_GB)
 Language files for en_GB modest-nokiamessaging-plugin.

Package: modest-nokiamessaging-plugin-l10n-enus
Section: misc
Architecture: all
Description: language files for modest-nokiamessaging-plugin (en_US)
 Language files for en_US modest-nokiamessaging-plugin.

Package: modest-nokiamessaging-plugin-l10n-eses
Section: misc
Architecture: all
Description: language files for modest-nokiamessaging-plugin (es_ES)
 Language files for es_ES modest-nokiamessaging-plugin.

Package: modest-nokiamessaging-plugin-l10n-esmx
Section: misc
Architecture: all
Description: language files for modest-nokiamessaging-plugin (es_MX)
 Language files for es_MX modest-nokiamessaging-plugin.

Package: modest-nokiamessaging-plugin-l10n-etee
Section: misc
Architecture: all
Description: language files for modest-nokiamessaging-plugin (et_EE)
 Language files for et_EE modest-nokiamessaging-plugin.

Package: modest-nokiamessaging-plugin-l10n-fa
Section: misc
Architecture: all
Description: language files for modest-nokiamessaging-plugin (fa)
 Language files for fa modest-nokiamessaging-plugin.

Package: modest-nokiamessaging-plugin-l10n-fifi
Section: misc
Architecture: all
Description: language files for modest-nokiamessaging-plugin (fi_FI)
 Language files for fi_FI modest-nokiamessaging-plugin.

Package: modest-nokiamessaging-plugin-l10n-frca
Section: misc
Architecture: all
Description: language files for modest-nokiamessaging-plugin (fr_CA)
 Language files for fr_CA modest-nokiamessaging-plugin.

Package: modest-nokiamessaging-plugin-l10n-frfr
Section: misc
Architecture: all
Description: language files for modest-nokiamessaging-plugin (fr_FR)
 Language files for fr_FR modest-nokiamessaging-plugin.

Package: modest-nokiamessaging-plugin-l10n-heil
Section: misc
Architecture: all
Description: language files for modest-nokiamessaging-plugin (he_IL)
 Language files for he_IL modest-nokiamessaging-plugin.

Package: modest-nokiamessaging-plugin-l10n-huhu
Section: misc
Architecture: all
Description: language files for modest-nokiamessaging-plugin (hu_HU)
 Language files for hu_HU modest-nokiamessaging-plugin.

Package: modest-nokiamessaging-plugin-l10n-itit
Section: misc
Architecture: all
Description: language files for modest-nokiamessaging-plugin (it_IT)
 Language files for it_IT modest-nokiamessaging-plugin.

Package: modest-nokiamessaging-plugin-l10n-km
Section: misc
Architecture: all
Description: language files for modest-nokiamessaging-plugin (km)
 Language files for km modest-nokiamessaging-plugin.

Package: modest-nokiamessaging-plugin-l10n-ko
Section: misc
Architecture: all
Description: language files for modest-nokiamessaging-plugin (ko)
 Language files for ko modest-nokiamessaging-plugin.

Package: modest-nokiamessaging-plugin-l10n-lvlv
Section: misc
Architecture: all
Description: language files for modest-nokiamessaging-plugin (lv_LV)
 Language files for lv_LV modest-nokiamessaging-plugin.

Package: modest-nokiamessaging-plugin-l10n-mymm
Section: misc
Architecture: all
Description: language files for modest-nokiamessaging-plugin (my_MM)
 Language files for my_MM modest-nokiamessaging-plugin.

Package: modest-nokiamessaging-plugin-l10n-nlnl
Section: misc
Architecture: all
Description: language files for modest-nokiamessaging-plugin (nl_NL)
 Language files for nl_NL modest-nokiamessaging-plugin.

Package: modest-nokiamessaging-plugin-l10n-nono
Section: misc
Architecture: all
Description: language files for modest-nokiamessaging-plugin (no_NO)
 Language files for no_NO modest-nokiamessaging-plugin.

Package: modest-nokiamessaging-plugin-l10n-pa
Section: misc
Architecture: all
Description: language files for modest-nokiamessaging-plugin (pa)
 Language files for pa modest-nokiamessaging-plugin.

Package: modest-nokiamessaging-plugin-l10n-plpl
Section: misc
Architecture: all
Description: language files for modest-nokiamessaging-plugin (pl_PL)
 Language files for pl_PL modest-nokiamessaging-plugin.

Package: modest-nokiamessaging-plugin-l10n-ptpt
Section: misc
Architecture: all
Description: language files for modest-nokiamessaging-plugin (pt_PT)
 Language files for pt_PT modest-nokiamessaging-plugin.

Package: modest-nokiamessaging-plugin-l10n-roro
Section: misc
Architecture: all
Description: language files for modest-nokiamessaging-plugin (ro_RO)
 Language files for ro_RO modest-nokiamessaging-plugin.

Package: modest-nokiamessaging-plugin-l10n-ruru
Section: misc
Architecture: all
Description: language files for modest-nokiamessaging-plugin (ru_RU)
 Language files for ru_RU modest-nokiamessaging-plugin.

Package: modest-nokiamessaging-plugin-l10n-sksk
Section: misc
Architecture: all
Description: language files for modest-nokiamessaging-plugin (sk_SK)
 Language files for sk_SK modest-nokiamessaging-plugin.

Package: modest-nokiamessaging-plugin-l10n-svse
Section: misc
Architecture: all
Description: language files for modest-nokiamessaging-plugin (sv_SE)
 Language files for sv_SE modest-nokiamessaging-plugin.

Package: modest-nokiamessaging-plugin-l10n-trtr
Section: misc
Architecture: all
Description: language files for modest-nokiamessaging-plugin (tr_TR)
 Language files for tr_TR modest-nokiamessaging-plugin.

Package: modest-nokiamessaging-plugin-l10n-ukua
Section: misc
Architecture: all
Description: language files for modest-nokiamessaging-plugin (uk_UA)
 Language files for uk_UA modest-nokiamessaging-plugin.

Package: modest-nokiamessaging-plugin-l10n-zhcn
Section: misc
Architecture: all
Description: language files for modest-nokiamessaging-plugin (zh_CN)
 Language files for zh_CN modest-nokiamessaging-plugin.

Package: modest-nokiamessaging-plugin-l10n-zhhk
Section: misc
Architecture: all
Description: language files for modest-nokiamessaging-plugin (zh_HK)
 Language files for zh_HK modest-nokiamessaging-plugin.

Package: modest-nokiamessaging-plugin-l10n-zhtw
Section: misc
Architecture: all
Description: language files for modest-nokiamessaging-plugin (zh_TW)
 Language files for zh_TW modest-nokiamessaging-plugin.
